* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.add-task-form {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
}

.add-task-form h2 {
  margin-bottom: 10px;
}

form#task-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

form#task-form input[type="text"],
form#task-form input[type="date"],
form#task-form select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form#task-form button[type="submit"] {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left:32vw;
}

.search-bar {
  margin-bottom: 20px;
}

.search-bar input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#task-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
}

#task-table th,
#task-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

#task-table th {
  background-color: #f2f2f2;
}

.actions-cell {
  white-space: nowrap;
}

.actions-cell button {
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 12px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #ffffff;
  margin: 20% auto;
  padding: 20px;
  max-width: 400px;
  border-radius: 5px;
}

.modal-content h2 {
  margin-bottom: 10px;
}

.modal-content p {
  margin-bottom: 20px;
}

.modal-content button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 22vw;
}

.modal-content button:first-child {
  margin-right: 5px;
  background-color: #f44336;
}

.strike-through {
  text-decoration: line-through;
  color: #999;
}

.hide {
  display: none;
}
